ecj/nbproject
ecj/nb-configuration.xml
ecj/nbactions.xml
ecj/target/
.idea/
.vscode
.DS_Store
ecj.iml
ecj/src/main/resources/ec/app/mona/0-MonaLisaOut.png
ecj/src/main/resources/ec/app/mona/1-MonaLisaOut.png
*.stat
*.aux
*.idx
*.log
*.out
*.toc
*.classpath
*.project
*.settings/
*.bbl
*.blg
*.synctex.gz
*.pdf
*~

out/*
*.iml

#the old evaluation data:
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/*.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/countingImpactFile.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/fitnessFile.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/traceIDsFile.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/JustStartingPopulationStatisticsOut/startingEndingFitness.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/normalizedFitnessImpactFile.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/genomeFile.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/fitnessImpactFile.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/fitnessEntropyImpactFile.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/entropyImpactFile.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/entropyFile.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/normalizedEntropyImpactFile.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/JustStartingPopulationStatisticsOut/*


#the new evaluation data:
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/*
*ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/eval.csv
/ecj/src/main/resources/ec/app/TraceableProblems/TraceableVectorStatistics/TracableVectorStatisticsOut/startingPop.stat

#the evaluation test path:
/ecj/src/main/resources/ec/app/TraceableProblems/GenerateTests/Test/*

#the pid files
/ecj/.attach_pid*
